<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
  
</script>

<style>
    .divstyle{
        border:5px outset red;
        background-color: lightblue;
        text-align: center;
    }
</style>

</head>
<body>

    <div id="app" class="divstyle">
        <h1>{{message}}</h1>

        <h2>{{submessage.split('').reverse().join('')}}</h2>

        <h3 style="font-size: 40px">{{count}}</h3>

        <h4 style="font-size: 60px;">{{check}}</h4>

        <h5>{{list[3]}}</h5>

        <h6>List Display</h6>

        <ul>
            <li>{{list[0]}}</li>
            <li>{{list[1]}}</li>
            <li>{{list[2]}}</li>
            <li>{{list[3]}}</li>
        </ul>

        <!--v for directivr-->
        <ul>
            <li v-for="listitem in list">{{listitem}}</li>
        </ul>

        <button v-on:click="increment">Increase Value Of Count</button>
        <button @click="increment">Increase Value Of Count</button>

        <input v-model="count" type="text"/>

        <h1 v-if="check">this is first value</h1>
        <h1 v-else>this is second value</h1>

    </div>

    <script type="module">
        import {createApp} from 'vue';

        createApp({
            data(){
                return{
                    message: "helloworld",
                    submessage: "this is another message",
                    count: 0,//integer
                    check: true,//boolean
                    list: [1,2,3,4],
                    item: "",
                };
            },
            methods:{
                increment(){
                    this.count++
                },
                reversMessage(){

                }
            },
            }).mount("#app");
        </script>
    </body>
</html>